/* Header  */

.header {
  background-color: #fff;
  width: 100%;
  padding: 1.25rem 0 1.25rem 0;
  position: fixed;
  top: 0;
}

/* Logo */

.header__logo {
  font-size: 1.163rem;
  font-weight: bold;
  color: #335576;
  margin: 0 0 0 5rem;
}

.header__logo a {
  color: #335576;
  text-decoration: none;
}

/* NavBar */

.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  justify-content: space-evenly;
  margin: 0 3rem 0 0;
}

li a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.list__item--active {
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.8rem;
  color: #db7a4e;
}

ul.list {
  width: 23%;
  font-size: 0.875rem;
}

.itinerary {
  position: relative;
  height: 60rem;
  width: 100%;
  margin: 4rem 0 0 0;
  background-image: url(/assets/hawaii.jpg);
  background-position: 55% 55%;
}

.itinerary__title {
  position: absolute;
  left: 6rem;
  top: 15rem;
  font-size: 4rem;
  color: #fff;
}

.itinerary__cards {
  height: 70rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itinerary__day {
  width: 17rem;
  height: 24rem;
  background-color: #fff;
  border-radius: 0.425rem;
  margin: 0 1rem 0 1rem;
}

.itinerary__subtittle {
  font-size: 1rem;
  text-align: center;
  border-bottom: 0.2rem solid black;
  margin: 1.3rem 1rem 2rem 1rem;
}

.itinerary__schedule li {
  text-align: center;
  font-size: 1rem;
  background-color: #fefaf6;
  margin: 1rem 1.2rem 0.1rem 1.2rem;
  padding: 0.7rem 1rem 1rem 0.7rem;
}

/* Footer Section */

footer {
  background-color: #fefaf5;
  padding-bottom: 1rem;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  padding: 2.5rem 0 2.5rem 0;
  margin: 0 0 0 10.625rem;
}

footer h2 {
  font-size: 1.25rem;
  color: #335576;
}

footer h3 {
  font-size: 0.625rem;
  font-weight: 100;
  text-transform: uppercase;
  color: #db7b4e;
}

footer p {
  color: #335576d4;
}

.footer-nav__hours-schedule {
  margin: 0.625rem 0 0 0;
  width: 28.125rem;
  display: flex;
  justify-content: space-between;
}

.footer-nav__hours-time {
  margin: 0.625rem 0 0 0;
}

.footer-nav__contact-subtitle {
  margin: 0.625rem 0 0 0;
}

.footer-nav__contact-email {
  margin: 0.625rem 0 0 0;
}

.footer-nav__social-card {
  margin: 0 6.25rem 0 0;
}

.footer-nav__social-img {
  width: 10.625rem;
  padding-top: 2.5rem;
  display: flex;
  justify-content: flex-start;
}

.footer-nav__social-icon {
  height: 1.45rem;
  display: flex;
  justify-content: flex-start;
  margin: 0 1rem 0 1rem;
}

.footer-nav__contact-title {
  padding: 0 0 0.938rem 0;
}

.footer-nav__hours-title {
  padding: 0 0 0.938rem 0;
}

.footer-nav__social-icon--position {
  margin-left: 0;
}

a {
  text-decoration: none;
  outline: none;
}
