main {
  height: 45rem;
  background-image: url(/assets/hawaii.jpg);
  background-size: cover;
  background-position: center;
}

.itinerary__title {
  font-size: 4rem;
  color: #fff;
  padding: 5rem 0 4rem 6rem;
}

.itinerary__cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.itinerary__day {
  width: 16.25rem;
  height: 23.75rem;
  background-color: #fff;
  border-radius: 0.425rem;
  margin: 0 1.25rem 0 0.125rem;
}

.itinerary__subtittle {
  font-size: 1.4rem;
  text-align: center;
  border-bottom: 0.2rem solid black;
  margin: 0.9rem 1rem 1.5rem 1rem;
}

.itinerary__schedule li {
  text-align: center;
  font-size: 1rem;
  background-color: #fefaf6;
  margin: 1rem 1.2rem 1rem 1.2rem;
  padding: 1rem 1rem 1rem 1rem;
}
