/* Header  */

header {
  background-color: #fff;
  width: 100%;
  padding: 1.25rem 0 1.25rem 0;
  position: fixed;
  top: 0;
}

/* Logo */

.header__logo {
  font-size: 1.163rem;
  font-weight: bold;
  color: #335576;
  margin: 0 0 0 5rem;
}

.header__logo a {
  color: #335576;
  text-decoration: none;
}

/* NavBar */

.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  justify-content: space-evenly;
  margin: 0 3rem 0 0;
}

li a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.list__item--active {
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.8rem;
  color: #db7a4e;
}

ul.list {
  width: 23%;
  font-size: 0.875rem;
}

/* Hero Section */

.hero {
  background-color: #fefaf5;
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 0 4rem 0;
  margin-top: 4rem;
}

.hero__slogan {
  color: #335576;
  font-size: 2.5rem;
  text-align: left;
  margin: 0 0 1.875rem 0;
}

.hero__slogan-section {
  width: 50%;
  padding: 3.125rem 0 0 3.125rem;
}

.hero__slogan--paragraph {
  color: #335576;
  text-align: left;
  margin: 0 0 1.875rem 0;
}

button {
  background-color: #db7a4e;
  color: #ffffffd2;
  width: 10.313rem;
  height: 2.5rem;
  font-size: 0.938rem;
  border-radius: 12.5rem;
  border: none;
}

.hero__slogan-img {
  width: 35%;
  height: 35%;

  padding: 0 3.125rem 0 0;
}

/* Recomendations Section */

.destination-section {
  padding: 0 0 5rem 0;
}

.destination-section__reccomendation {
  color: #335576;
  margin: 2.5rem 0 1.875rem 4.375rem;
}

.destination-section__cards {
  display: flex;
  justify-content: center;
}

.destination-section__card {
  width: 16.25rem;
  height: 23.75rem;
  position: relative;
  text-align: center;
  border-radius: 0.625rem;
  border: 0.063rem solid rgba(0, 0, 0, 0.13);
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.129);
  margin: 0 1.25rem 0 1.25rem;
}

.destination-section__location {
  position: relative;
  bottom: 3.125rem;
  left: 3.75rem;
  color: #ffffff;
}

.destination-section__img {
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
  backdrop-filter: blur(0.313rem);
}

.destination-section__img--hawaii {
  background-image: url(/assets/hawaii.jpg);
  background-size: cover;
}

.destination-section__img--iceland {
  background-image: url(/assets/iceland.jpg);
  background-size: cover;
}

.destination-section__img--greece {
  background-image: url(/assets/greece.jpg);
  background-size: cover;
}

/* Footer Section */

footer {
  background-color: #fefaf5;
  padding-bottom: 1rem;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  padding: 2.5rem 0 2.5rem 0;
  margin: 0 0 0 10.625rem;
}

footer h2 {
  font-size: 1.25rem;
  color: #335576;
}

footer h3 {
  font-size: 0.625rem;
  font-weight: 100;
  text-transform: uppercase;
  color: #db7b4e;
}

footer p {
  color: #335576d4;
}

.footer-nav__hours-schedule {
  margin: 0.625rem 0 0 0;
  width: 28.125rem;
  display: flex;
  justify-content: space-between;
}

.footer-nav__hours-time {
  margin: 0.625rem 0 0 0;
}

.footer-nav__contact-subtitle {
  margin: 0.625rem 0 0 0;
}

.footer-nav__contact-email {
  margin: 0.625rem 0 0 0;
}

.footer-nav__social-card {
  margin: 0 6.25rem 0 0;
}

.footer-nav__social-img {
  width: 10.625rem;
  padding-top: 2.5rem;
  display: flex;
  justify-content: flex-start;
}

.footer-nav__social-icon {
  height: 1.45rem;
  display: flex;
  justify-content: flex-start;
  margin: 0 1rem 0 1rem;
}

.footer-nav__contact-title {
  padding: 0 0 0.938rem 0;
}

.footer-nav__hours-title {
  padding: 0 0 0.938rem 0;
}

.footer-nav__social-icon--position {
  margin-left: 0;
}

a {
  text-decoration: none;
  outline: none;
}
