/* Header  */

header {
  background-color: #fff;
  width: 100%;
  padding: 20px 0 20px 0;
  position: fixed;
  top: 0;
}

/* Logo */

.header__logo {
  font-size: 25px;
  font-weight: bold;
  color: #335576;
  margin: 0 0 0 70px;
}

/* NavBar */

.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  justify-content: space-evenly;
  margin: 0 70px 0 0;
}

ul {
  list-style: none;
}

ul.list {
  width: 23%;
}

img {
  height: 95%;
  width: 60%;
}

/* Hero Section */

.hero {
  background-color: #fefaf5;
  display: flex;
  justify-content: space-evenly;
  padding: 100px 0 50px 0;
}

.slogan {
  color: #335576;
  font-size: 40px;
  text-align: left;
  margin: 0 0 30px 0;
}

.slogan-section {
  width: 50%;
  padding: 0 0 0 50px;
}

.slogan__paragraph {
  color: #335576;
  text-align: left;
  margin: 0 0 30px 0;
}

button {
  background-color: #db7a4e;
  color: #ffffffd2;
  width: 165px;
  height: 40px;
  font-size: 15px;
  border-radius: 200px;
  border: none;
}

.slogan__img {
  width: 35%;
  height: 35%;
  padding: 0 50px 0 0;
}

/* Distination Section */

.destination__reccomendation {
  color: #335576;
  margin: 40px 0 40px 70px;
}

.destinations__card {
  display: flex;
  justify-content: space-between;
}

.location {
  position: relative;
  text-align: center;
}

.location__name {
  position: absolute;
  bottom: 40px;
  right: 100px;
  color: #ffffff;
}
