/* Hero Section */

.hero {
  background-color: #fefaf5;
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 0 4rem 0;
  margin-top: 4rem;
}

.hero__slogan__header {
  color: #335576;
  font-size: 2.5rem;
  text-align: left;
  margin: 0 0 1.875rem 0;
}

.hero__slogan-section {
  width: 50%;
  padding: 3.125rem 0 0 1rem;
}

.hero__slogan__paragraph {
  color: #335576;
  text-align: left;
  margin: 0 0 1.875rem 0;
}

.hero__button {
  background-color: #db7a4e;
  color: #fff;
  width: 10.313rem;
  height: 2.5rem;
  font-size: 0.938rem;
  border-radius: 12.5rem;
  border: none;
}

.hero__slogan-img {
  width: 30%;
  height: 30%;
  padding: 0 3.125rem 0 0;
}

/* Recomendations Section */

.destination-section {
  padding: 0 0 4.3rem 0;
}

.destination-section__reccomendation {
  color: #335576;
  margin: 2.5rem 0 1.5rem 5rem;
}

.destination-section__cards {
  display: flex;
  justify-content: center;
}

.destination-section__card {
  width: 16.25rem;
  height: 23.75rem;
  position: relative;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 20%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 20%);
  margin: 0 1.25rem 0 1.25rem;
}

.destination-section__location {
  position: absolute;
  bottom: 1rem;
  left: 9rem;
  color: #ffffff;
}

.destination-section__img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  backdrop-filter: blur(4px);
}

.destination-section__img--hawaii {
  background-image: url(/assets//images/hawaii.jpg);
  background-size: cover;
}

.destination-section__img--iceland {
  background-image: url(/assets/images/iceland.jpg);
  background-size: cover;
}

.destination-section__img--greece {
  background-image: url(/assets/images/greece.jpg);
  background-size: cover;
}
